
// Body
// $body-bg: #f5f8fa;
$body-bg: #f1f1f1;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary:     #005FBF;
$brand-info:        #8eb4cb;
$brand-success:     #27B086;
$brand-warning:     #f9c200;
$brand-danger:      #f00;
$brand-teal:        #636d7e;
$brand-presumi:     #007fff;
$brand-orange:      #fa5b49;
$brand-dark:        #353847;
$brand-darker:      #232c32;
$brand-dark-light:  #4a5568;
$brand-wise:        #38548b;
$brand-wise-dark:   #304773;
$brand-grey:        #9EA4AE;
$brand-greyer:      #777F8E;
$brand-purple:      #6772e5;
$brand-yellow:      #f9c200;
$brand-yellow-dark: #dfa405;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colours
$linkColour: $brand-primary;
$linkHoverBackgroundColour: $brand-dark-light;
$primaryColour: $brand-presumi;
$secondaryColour: $brand-success;
$navColour: $brand-dark;
$fontColour: $brand-dark;
$primaryFontColour: $brand-dark;
$secondaryFontColour: white;
$navBackgroundColour: $brand-yellow;
$navActiveBackgroundColour: $brand-yellow-dark;
$navHoverColour: #f9f9f9;
$footerBackground: $brand-darker;
$navTransparentLinkColour: white;
$navTransparentLinkActiveColour: $brand-warning;

$navbar-height: 50px;
$sidebar-width: 200px;
